#card {
  display: grid;
  grid-template: 2.85em 1.15em 1fr / 1fr;
  width: 30%;
  margin: 1.5em 0em;
  padding: 1em;
  font-family: Roboto, sans-serif;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
  border-radius: .25em;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

#card:hover {
  padding: 1.1em 1em;
  width: 31%;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.41);
}

#card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: 1/1;
}

#card-title {
  display: inline;
  font-weight: bold;
  color: #374457;
  font-size: 2em;
}

#card-header-language {
  display: inline-flex;
  background-color: #fbbd08;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border-radius: .25em;
  padding: .25em .35em;
  margin-right: .25em;
}

#card-buttons {
  color: #374457;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

#card-buttons:hover {
  color: #556070;
}

#card-date {
  font-weight: 300;
  color: black;
  grid-row: 2;
  font-size: 1.05em;
}

#card-content {
  grid-row: 3;
  display: flex;
  justify-content: center;
  color: black;
  flex-direction: column;
}

#card-details {
  font-size: 1.25em;
  line-height: 1.5em;
}

ul {
  list-style-type: circle;
}

img {
  width: 100%;
}
