#about-container {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  min-height: 100vh;
}

.about-title {
  text-align: center;
  font-weight: bold;
  color: #374457;
  font-size: 3em;
  padding: .35em;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text p {
  line-height: 1.5em;
  font-size: 1.5em;
  text-align: left;
}

.about-text img {
  width: 40%;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  border-radius: .1em;
}
